
.footer {
    background: $gray;
    z-index: 8;
    position: relative;
    padding: 20px 0;
  }

.footer-icon {
    padding: 20px;
    font-size: 40px;
    color: $white;
  }
  
  .footer-social {
    padding: 10px 0;
  }
  
  .copyright {
    margin-bottom: 7px;
  }

