
$light-gray: #F0F0F0;
$gray:  #717171;
$white: #ffff;
$yellow: rgb(255, 193, 7);
$light-gray: #f2f2f2;
$dark-gray-img: rgba(134, 134, 134, 0.73);
$shadow: #f7f7f7;
$backgraund-text:  rgba(179, 107, 0, 0.5);